<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Pagina principal</title>
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <style>
            .imagenDeFondo {
                    background-image: url(https://www.upb.edu.co/es/imagenes/imgtipod-blgleyendosinseparador-libreria-1464216378015.jpg) ; 
                }
            h1 { background-color: rgb(100, 194, 237); color: black;}    
        </style>
       
    </head>
    <body class="imagenDeFondo">
        <div align="center">
            <div><h1> Bienvenidos a la Libreria </h1></div>
            <a href="/libro" class="btn btn-primary btn-lg" tabindex="-1" role="button">Libro</a>
            <a href="/autor" class="btn btn-primary btn-lg" tabindex="-1" role="button">Autor</a>
            <a href="/editorial" class="btn btn-primary btn-lg" tabindex="-1" role="button">Editorial</a>
        </div>
        
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
